<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="false" />
  <param name="/use_sim_time" value="$(arg use_sim_time)" />

  <arg name="pipeline" default="ompl" />
  <arg name="debug" default="false" />
  <arg name="load_robot_description" default="true" />
  <arg name="use_rviz" default="true" />
  <arg name="controllers_file" default="$(find sawyer_moveit_config)/config/controllers_real.yaml" />
  <arg name="moveit_controller_manager" default="moveit_simple_controller_manager/MoveItSimpleControllerManager" />

  <group ns="/robot">
    <include file="$(dirname)/move_group_real.launch">
      <arg name="debug" value="$(arg debug)" />
      <arg name="pipeline" value="$(arg pipeline)" />
      <arg name="load_robot_description" value="$(arg load_robot_description)" />
      <arg name="controllers_file" value="$(arg controllers_file)" />
      <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    </include>
  </group>

  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz" />
    <arg name="debug" value="$(arg debug)" />
  </include>
</launch>

