<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <arg name="electric_gripper" default="true"/>
  <arg name="pipeline" default="ompl"/>
  <arg name="db" default="false"/>
  <arg name="db_path" default="$(find sawyer_moveit_config)/default_warehouse_mongo_db" />
  <arg name="debug" default="false" />
  <arg name="load_robot_description" default="true"/>
  <arg name="use_gui" default="false" />
  <arg name="use_rviz" default="true" />

  <arg name="fake_execution" default="false"/>
  <arg name="fake_execution_type" default="interpolate"/>
  <arg name="moveit_controller_manager" default="moveit_simple_controller_manager/MoveItSimpleControllerManager" />

  <group if="$(eval arg('moveit_controller_manager') == 'fake')">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
      <rosparam param="source_list">[/robot/move_group/fake_controller_joint_states]</rosparam>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
      <rosparam param="source_list">[/robot/move_group/fake_controller_joint_states]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" ns="/robot" />
  </group>

  <group ns="/robot">
    <include file="$(dirname)/move_group.launch">
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="fake_execution" value="$(arg fake_execution)"/>
      <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
      <arg name="info" value="$(arg debug)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="pipeline" value="$(arg pipeline)"/>
      <arg name="load_robot_description" value="$(arg load_robot_description)"/>
      <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
    </include>
  </group>

  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>
